h1, h2 {
	font-weight: normal;
}
a {
	color: #42b983;
}
.tile {
	background-color: lightgrey;
	color: darkgrey;
	display: inline-block;
	width: 14%;
	height: 14%;
	overflow: auto;
	margin: -1px 1px;
	-webkit-transition: .1s;
	transition: .1s;
}
.header {
	background-color: cornsilk;
	color: inherit;
	height: auto;
	padding: 2px 0px;
}
.right {
	float: right;
}
.left {
	float: left;
	text-transform: capitalize;
}
.currentMonth {
	color: dimgrey;
	cursor: pointer;
}
.currentMonth:hover, .header:hover, button:hover {
	background-color: aliceblue;
}
button {
	cursor: pointer;
	transition: .1s;
}
.search, button {
	font-size: 20px;
	background-color: lightgrey;
	border: none;
}
.today {
	background-color: cornsilk;
}
.overflow {
	position: absolute;
	margin-left: 115px;
	display: grid;
	z-index: 2;
}
.watermark {
	position: absolute;
}
.event {
	color: black;
	z-index: 1;
	width: max-content;
	margin-left: 18px;
}
.calendar {
	width: 900px;
	height: 600px;
	margin: auto;
}
.controls {
	display: inline-block;
	width: 99%;
	font-size: 20px;
}
.tile::-webkit-scrollbar-track {
	background-color: grey;
}
.tile::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
.tile::-webkit-scrollbar-thumb {
	background-color: black;
}